/*:::::::::::::::::::::::::::G L O B A L::::::::::::::::::::::::::*/
* {
  box-sizing: border-box;
  font-family: "Bree Serif", sans-serif;
  font-size: 1.125rem;
  line-height: 40px;
}

html {
  font-size: 90%;
}
h1 {
  font-size: 2.5rem;
}

h2{
  font-size: 2.2rem;
}

h3 {
  font-size: 1.875rem;
}

body {
  background: url("../img/fond.png");
  padding: 0;
  margin: 0;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.title {
  padding: 20px;
  text-align: center;
  border: solid thin lightgrey;
  border-width: 0 0 2px 0;

}

.colorpolice {
  color: grey;
}
.color {
  color: pink;
}

.title:before, .title:after{
  content: "-";
}

.clearfix {height:1%}
.clearfix:after {
	content:".";
	height:0;
	line-height:0;
	display:block;
	visibility:hidden;
	clear:both;
}

/*:::::::::::::::::::::::::::::H E A D E R:::::::::::::::::::::::::::::::::*/
nav {
  float: right;
  font-size: 1.2rem;
  vertical-align: middle;
}

nav a{
  font-size: 1.25rem;
  display: inline-block;
  padding: 0 10px 10px;
  color: grey;
  text-decoration: none;
  margin-right: 40px;
}

.nava {
  width: 100%;
  padding: 0 10px;
  text-align: center;
}

header h1, header nav{
  display: inline-block;
}

header.container{
  padding: 30px 0;
  vertical-align: middle;
  color: grey;
}

#logo {
  width: 40px;
  margin-right: 10px;
  vertical-align: sub;
}

/*-----------------------*/
.bienvenue {
  background: url("../img/bg_header.png");
  background-position: bottom;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  padding: 200px 0px;
  max-width: 100%;
  text-align: center;
  color: white !important;
}

.divbienvenue{
  width: 88%;
  margin: 0 auto;
  color: white;
}

.button {
  display: inline-block;
  width: auto;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: pink;
  text-decoration: none;
  color: white;
}

/*-----------------------------M A I N-------------------------------*/

/*----GLOBAL----*/

.graphs, .services{
  font-size: 0;
  width: 100%;
  display: inline-block;
}
.graph, .service{
  font-size: 1rem;
  display: inline-block;
  width: 33.33%;
  text-align: center !important;
  padding: 20px;
}

/*----SERVICE----*/
.servi {
  display: inline-block;
  padding: 15px;
  border: grey  thin solid;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
}

/*-----realisations------*/
.real {
  margin-bottom: 40px;
}
.testimg {
  width: 500px;
}

div.real:nth-child(2n) img
{
  margin-right: 20px;
  margin-bottom: 20px;
  float: left;
  clear: both;
}

div.real:nth-child(odd) img
{
  margin-left: 20px;
  margin-bottom: 20px;
  float: right;
  clear: both;
}

div.real p{
  text-align: justify;
}

.aclass {
  text-decoration: none;
}

.savoir {
  display: inline-block;
  padding: 5px 20px;
}

/*------CONTACT------*/

.oui {
  font-size: 0;
}

#prenom{
  text-indent: 20px;
  font-size: 1rem;
  background: url("../img/bg_form_name.svg") no-repeat;
  width: 50%;
  border-radius: 20px 20px 20px 20px;
  padding: 10px;

}

#mail{
  text-indent: 20px;
  font-size: 1rem;
  background: url("../img/bg_form_mail.svg") no-repeat;
  width: 50%;
  border-radius: 20px 20px 20px 20px;
  padding: 10px;

}

#msg {
  padding: 10px;
  text-indent: 40px;
  font-size: 1rem;
  background: url("../img/bg_form_message.svg") no-repeat;
  display: block;
  width: 100%;
  max-width: 100%;
  max-height: 220px;
  border-radius: 20px 20px 20px 20px;
}
